CLAUDE_FUSE_DB=./data/metadata.db
CLAUDE_FUSE_DATA_DIR=./data
CLAUDE_FUSE_API_PORT=5457
CLAUDE_FUSE_DASHBOARD_PORT=5460
CLAUDE_FUSE_API_URL=http://localhost:5457
CLAUDE_FUSE_USER=me
CLAUDE_FUSE_LEDGER_PATH=../MISTAKES_LEDGER.md
